# Lists
A list is an ordered collection of items meaning each item can be accessed individually using indexing and also, lists are mutable meaning they can be altered after they have been created. Lists can be defined by starting with a square bracket, adding your elements separated with a comma and closing the list with a final square bracket. If no items are provided then an empty list is created.

In [1]:
my_list = ['Item1', 'Item2','Item3']

Python lists are very flexible. Lists essentially store python objects and because everything in python is an object, you can pretty much store anything in a list. Each item in a list can be any data type.

In [2]:
different_list = ['Apple', 'Banana', 1]

Not only can lists hold different data types but they can also hold other lists

In [3]:
list_in_list = [['Item1','Item2'], 1, 2]

## Accessing Items
You can acess items in a list by using indexing. Python uses zero-based indexing. That means, the first element has an index 0, the second has index 1, and so on. Lets look at this by first creating a new list...

In [4]:
my_list = ['Item1', 'Item2','Item3', 'Item4']

In [5]:
my_list[0]

'Item1'

In [6]:
my_list[1]

'Item2'

In [7]:
my_list = [['item1','item2','item3','item4']]

In [8]:
my_list[0][0]

'item1'

In [ ]:
my_list = ['Item1', 'Item2','Item3', 'Item4']

We can also check to see how many elements we have in our list if we are not sure by using pythons len() function:

In [35]:
len(my_list)

4

Python also supports negative indexing, meaning we can index starting from the end of our list. -1 refers to the last item, -2 refers to the second last item and so on...

In [20]:
my_list[-1]

'Item4'

This can really come in handy if you want to refer to the last element of a list without having to know the length of the list first.

We have used indexing only for accessing the content of a list cell. But it’s also possible to change cell content using an assignment operation:

In [21]:
my_list[0] = 'Item1'

In [22]:
my_list[0]

'Item1'

We can also delete any element using a del statement

In [23]:
del my_list[3]

In [25]:
print(my_list)

['Item1', 'Item2', 'Item3']

## Range of Index
You can specify a range of indexes by specifying where to start and where to end the range, essentially creating a sublist. You start by specifying which list you want to slice, when square brackets like normal indexing but this time, we will specify a start index and an end index separated by a colon.

In [26]:
numbers = [1,2,3,4,5,6,7,8,9]

In [27]:
numbers[0:4]

[1, 2, 3, 4]

This slice will return each element starting at index 0 and up to, but not including, the element at index position 4. Leaving out the start index, the range will start at the first item:

In [28]:
numbers[:4]

[1, 2, 3, 4]

And leaving out the end index, it will continue right to the end:

In [29]:
numbers[2:]

[3, 4, 5, 6, 7, 8, 9]

You can use negative range indexing if you want to start the search from the end of the list:

In [32]:
numbers[-4:-2]

[6, 7]

This slicing will start 4 from the end, because negative indexing starts at -1 and will include all elements until we get to the element second from the end. If you omit both the start and end index then the entire list will be selected. There is a third argument you can add to range indexing and this is called a step value. This comes in useful if you want to take every nth value:

In [33]:
numbers[::2]

[1, 3, 5, 7, 9]

We start with a normal range index but do not specify a start or an end index, meaning we want the whole string at this point. We then add an additional colon to tell python we are adding a step value, in this case we want every second element so we add 2.

## For Loops with Lists
You can loop through each item in a list using a for loop. We will look at these in more detail later on but for now here is the basic syntax:

In [34]:
for item in numbers: 
    print(item)

1
2
3
4
5
6
7
8
9

This for loop basically says for each "item" (this can be any word you want) in our list "numbers", print "item". It will loop through each element in our list and print the results.  If you change "item" in the first row, make sure you change it in the print statement too. Change it to whatever you want and see what happens!

## IN and NOT keywords with Lists

We can check to see if certain elements are in our list by using the In keyword

In [35]:
1 in numbers

True

Or we can check to see if certain elements are not in our list by using the NOT keyword together with in

In [37]:
10 not in numbers

True

## Add, Remove and Insert Items
To add an item to a list, we used the append() method.

In [38]:
numbers.append(10)

In [39]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

We can add items at a specific index using the insert() method. We will remove 8 from our list and then add it back. Instead of using a del statement as above, we will use pythons remove() method so we can specify which element we want to remove by value, in this case, 8.

In [48]:
numbers.remove(8)

In [49]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 9, 10]

In [50]:
numbers.insert(-2,8)

In [51]:
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

If we want to empty the entire list, also known as clear, we can use the clear() method...

In [52]:
numbers.clear()

In [53]:
print(numbers)

[]

## Copying a List

You cannot copy a list simply by typing list2 = list1, because list2 will only be a *reference* to list1. This means that any changes to list1 will affect list 2. Luckily there is a copy() method built into python which can help us get around this issue.

In [54]:
list1 = ['Item1', 'Item2', 'Item3']
list2 = list1

In [55]:
print(list1)

['Item1', 'Item2', 'Item3']

In [56]:
print(list2)

['Item1', 'Item2', 'Item3']

In [57]:
list1.append('Item4')

In [58]:
print(list1)

['Item1', 'Item2', 'Item3', 'Item4']

In [59]:
print(list2)

['Item1', 'Item2', 'Item3', 'Item4']

In [60]:
list2 = list1.copy()

In [61]:
print(list2)

['Item1', 'Item2', 'Item3', 'Item4']

In [63]:
list1.append('Item5')

In [64]:
print(list1)

['Item1', 'Item2', 'Item3', 'Item4', 'Item5']

In [65]:
print(list2)

['Item1', 'Item2', 'Item3', 'Item4']

You can join 2 lists by using the + operator:

In [66]:
list3 = list1 + list2

In [67]:
print(list3)

['Item1', 'Item2', 'Item3', 'Item4', 'Item5', 'Item1', 'Item2', 'Item3', 'Item4']

## List Comprehension
You may find yourself needing to iterate over a list, perform some sort of operation on that list and asign the new value to another list. The long-hand version of doing this may utilise for loops, for example:

In [74]:
nums = [1, 2, 3, 4, 5]
new_nums = []
for number in nums:
    new_nums.append(number + 1)

In [75]:
print(new_nums)

[2, 3, 4, 5, 6]

Because this is quite common (not the adding to numbers but creating new lists based on another) python actually allows us to do all of the above in one line of code!

In [78]:
new_nums = [1 + number for number in nums]

In [79]:
print(new_nums)

[2, 3, 4, 5, 6]

You can add allsorts inside this one line of code like conditions that need to evaluate to true before anything is added to the new list for example.

In [81]:
evens = [num for num in nums if (num % 2 == 0)]

In [82]:
print(evens)

[2, 4]

# Tuples
A tuple is similar to a list however there are 2 main differences. A tuple is a collection which is ordered however, it is unchangeable. Also, you can recognise a tuple because they are surround by parenthesis.

In [2]:
my_tuple = ('Val1', 'Val2', 'Val3')

In [3]:
print(my_tuple)

('Val1', 'Val2', 'Val3')

## Indexing
You can access individual elements using indexing just like a list...

In [4]:
print(my_tuple[0])

Val1

Negative indexing also works...

In [5]:
my_tuple[-1]

'Val3'

If you want to slice a range of items then you can use the usual syntax:

In [10]:
print(my_tuple[1:3])

('Val2', 'Val3')

and using negative indicies in our range:

In [28]:
print(my_tuple[-2:])

('Val2', 'Val3')

So far we have seen that tuples behave very similar to lists. But what happens if we try and change a value once the tuple has been created?

In [29]:
my_tuple = ('Apples', 'Bananas', 'Cherries', 'Pears')

In [30]:
my_tuple[0] = 'Kiwi'

TypeError: 'tuple' object does not support item assignment

We can't change it because Tuples are what is known as immutable meaning they cannot be changed. We cannot add to a tuple after it has been created either, as we will see below:

In [36]:
my_tuple[4] = 'Lemon'

TypeError: 'tuple' object does not support item assignment

## Looping through a Tuple
You can loop through a tuple with a simple for loop

In [31]:
for item in my_tuple:
    print(item)

Apples
Bananas
Cherries
Pears

If we are unsure of how many elements we have in our tuple, we can use the len() function to count for us...

In [32]:
len(my_tuple)

4

You can check to see if an item is present using the IN keyword:

In [38]:
'Apples' in my_tuple

True

You might not be able to change Tuples once they have been created, but you can join Tuples together using the "+" operator:

In [39]:
car_tuple_one = ('Ford', 'BMW', 'Skoda')
car_tuple_two = ('Lamborghini', 'Ferrari', 'Audi')

In [40]:
car_tuple = car_tuple_one + car_tuple_two

In [41]:
print(car_tuple)

('Ford', 'BMW', 'Skoda', 'Lamborghini', 'Ferrari', 'Audi')

# Sets
Sets are an unordered collection of objects which are unordered and unindexed. You can recognise a set as they use curly brackets. They also do not contain any duplicate values.

In [1]:
s = {1,2,3,4,5}

In [2]:
print(type(s))

<class 'set'>

Because sets contain unique values. When we try and enter a duplicate value, python removes that for us automatically.

In [5]:
s = {1,2,2,3,4,5}

In [6]:
print(s)

{1, 2, 3, 4, 5}

You can loop through a set in the same way we have seen in the collections above, using a for loop:

In [7]:
for item in s: 
    print(item)

1
2
3
4
5

And check if values are present in the collection:

In [8]:
1 in s

True

And although you can't change any items in a set, you can add and remove items using the following methods:

## Add
If you want to add a single item to a set you can use the add() method.

In [9]:
s.add(6)

In [10]:
print(s)

{1, 2, 3, 4, 5, 6}

Or if you want to add many items, you can use the update() method. The update method takes a list of values as an argument so inside the parenthesis we include a list:

In [11]:
s.update([7,8,9])

In [12]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

We have added a few new values to our set and to keep track of how many elements we have in there, we can use the len() method:

In [13]:
len(s)

9

We have a lot of values in our set now, to remove some, we have 2 methods availible to us: remove and discard. 

 - Remove will remove a value if it's present, if not, an error will be raised
 - Discard will remove an item if it's present, but if not, nothing will happen.

In [14]:
s.remove(9)

In [15]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
s.remove(10)

In [15]:
s.discard(8)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
print(s)

You can also use the pop() method to remove an item. However, this method will remove a random item item, and because sets are unordered, you may not know what item that gets removed.

In [19]:
print(s)
s.pop()
print(s)

{2, 3, 4, 5, 6, 7, 8}
{3, 4, 5, 6, 7, 8}

If we want to remove all elements from a set we can use the clear() method:

In [21]:
print(s)
s.clear()
print(s)

{3, 4, 5, 6, 7, 8}
set()

We can join sets. There are a few ways to do this. Either union() which joins all items of both sets together, can also use | instead of the phrase union(), update() where you can pass your second set as an argument

In [26]:
a = {1,2,3,4}
b = {5,6,7,8}

In [23]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [27]:
a.update(b)

In [28]:
a

{1, 2, 3, 4, 5, 6, 7, 8}

This was an introduction to sets. There are many more methods associated with this data structure which we haven't been through here. There are many online resources that can help you further understand not only sets but the other data structures in this notebook.

So we have been introduced to Lists, Tuples and Sets in this session, but when would you choose one over the other? 

Tuples are faster than lists and if you know these values will never change, have nothing added and have nothing taken away then Tuples will be safer as it restricts what data can be inside the collection. 

Lists are more flexible

Sets are useful for storing unique values, and therefore can be good for storing keys.